extends baseEmail

block content
    p Hej #{firstName}!
    p Twoje zamówienie o numerze
        b= ` ${otherProps[0].barcode} `
        span zostało opłacone. Dziękujemy za dokonanie wpłaty.
    p Śledź status zamówienia na naszej stronie w zakładce 
        b Moje zamówienia
    p Gdy twoje pizze będą gotowe, nasz system poinformuje cię wiadomością email o możliwości ich odebrania.
    table.btn.btn-primary(role='presentaion', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') Sprawdź status zamówienia!
    p
    p - Zespół PizzaPortal